.centerSectionContent {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#form {
    position: relative;
    grid-area: 1/2;
    text-align: left;
    margin-top: 10%;
    margin-bottom: 25%;
    width:100%;
}

#form p {
    margin: auto;
    text-align: center;
    color: red
}

form label {
    margin-top: 1px;
    margin-bottom: 1px;
}