/*
    ========== Id Selectors ==========
*/
#table {
    border-collapse: collapse;
}


/*
    ========== Pseudo-Class Selectors ==========
*/
a:hover {
    color: violet;
}


/*
    ========== Class Selectors ==========
*/
.header { 
    height: fit-content;
    display: grid;
    border-bottom: 10px solid rgb(110, 47, 78, 0.25);
    grid-template-columns: 1fr 8fr 1fr;
    text-align: center;
    font-size: 2rem;
}

.sectionWrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    min-height: 100%;
}

.leftSectionNav {
    /* background-color: rgb(100, 149, 237, 0.10); */
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

.navPages {
    position: fixed;
    margin-top: 2%;
    left: 2%;
    width: 15%;
    text-align: center;
}

.currentPageNav {
    position: fixed;
    margin-top: 2%;
    right: 2%;
    width: 15%;
    text-align: center;
}

.rightSection {
    margin-left: 20px;
}

.footer {
    position: relative;
    border-top: 10px solid rgb(110, 47, 78, 0.25);
    text-align: center;
    font-size: 1.5rem;
    top: 75%;
}

.currentPage {
    color: violet;
}

.logoDiv {
    align-items: center;
}

/*
    ========== Element Selectors ==========
*/
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 5px 0 5px;
}

main {
    min-height: 500px;
}

section {
    min-height: 500px;
}

textarea {
    resize: none;
}

h2 {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

hr {
    width: 100%;
    margin: 50px;
}


/*
    ========== Unassigned Selectors ==========
*/
nav ul {
    padding: 0;
}

figure {
    float: right;
}

.centerSectionContent p{
    text-align:left;
}

.centerSectionContent h2{
    text-align: center;
}

.centerSectionContent hr{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.navPages label {
    font-size: 2rem;
    text-decoration: overline underline;
}
.navPages li {
    font-size: 1.25rem;
    list-style: none;
    margin-top: 25px;
}
.navPages hr {
    width: 100%;
    margin: 40px auto 40px auto
}

.currentPageNav {
    position: fixed;
    text-align: center;
}
.currentPageNav label {
    font-size: 2rem;
    text-decoration: overline underline;
}
.currentPageNav li {
    font-size: 1.25rem;
    list-style: none;
    margin-top: 25px;
}
.currentPageNav hr {
    width: 100%;
    margin: 40px auto 40px auto
}

.logoDiv img{
    height: 100%;
    width: 100%;
}

.centerSectionContent p{
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 80%;
}

.centerSectionContent h2{
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
}

.centerSectionContent h3{
    margin-left: 10%;
    margin-right: auto;
    text-align: left;
    width: 80%;
    font-weight: lighter;
}

article h3::first-letter {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.5rem;
}