/*
    ========== Id Selectors ==========
*/
#table {
    border-collapse: collapse;
}


/*
    ========== Pseudo-Class Selectors ==========
*/
input:valid {
    background-color: palegreen;
}

input:invalid {
    background-color: lightcoral;
}


/*
    ========== Class Selectors ==========
*/
.header {
    background-color: rgba(112, 63, 228, 0.25);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    font-size: 2rem;
    height: 15%;
}

.sectionWrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    min-height: 100%;
}

.centerSectionContent {
    background-color: rgb(127, 255, 212, 0.25);
}

.leftSectionNav {
    background-color: rgb(100, 149, 237, 0.10);
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

.nav {
    position: fixed;
    border-radius: 5%;
    left: 2%;
    width: 15%;
    height: auto;
    text-align: center;
    margin-top: 40px;
}

.rightSection {
    background-color: rgba(245, 108, 238, 0.25);
    margin-left: 20px;
}

.footer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.5rem;
}

.currentPage {
    color: violet;
}

.nav hr {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.logoDiv img{
    position: relative;
    top: -10px;
    left: 5px;
    height: 175px;
    width: 175px;
}

/*
    ========== Element Selectors ==========
*/
body {
    background-color: rgba(255, 0, 0, 0.75);
    min-height: 100%;
    margin: 0;
}

main {
    background-color: rgba(4, 0, 255, 0.5);
    min-height: 500px;
}

section {
    min-height: 500px;
}

textarea {
    resize: none;
}

h2 {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

hr {
    width: 100%;
    margin: 50px;
}


/*
    ========== Unassigned Selectors ==========
*/
nav ul {
    padding: 0;
}

.centerSectionContent p{
    text-align:left;
}

.centerSectionContent h2{
    text-align: center;
}

.centerSectionContent hr{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.nav label {
    font-size: 2rem;
    text-decoration: overline underline;
}

.nav li {
    font-size: 1.25rem;
    text-decoration: none;
    list-style: none;
    margin-top: 50px;
}