/*
    ========== Id Selectors ==========
*/
#trans-box {
    position: absolute;
    background: rgba(222, 222, 222, 0.45);
    height: 100%;
    width: 100%;
    z-index: 1;
    
}

#welcomeMessage {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#navDiv {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10%;
}

#mainNav {
    position: relative;
    bottom: 0;
    width: 100%;
}

#mainNav label {
    font-size: 200%;
    text-decoration: overline underline;
}

#mainButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 125%;
    padding: 20px;
}

a:link {
    color: paleturquoise;
}

a:visited {
    color: paleturquoise;
}


/*
    ========== Class Selectors ==========
*/
.mainPageSectionWrapper {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
}

.buttonStyle {
    font-size: 1.05rem;
    background-color:rgb(110, 47, 78, 0.45);
    margin: 5px;
    padding: 5px;
    border-radius: 5px; 
}


/*
    ========== Element Selectors ==========
*/
html {
    position: relative;
    min-height: 100%;
}

body {
    position: absolute;
    height: 100%;
}

main {
    position: absolute;
    min-height: 75%;
    min-width: 100%;
    background-image: url(../images/creative-abstract-texture-flower-petal-decoration-large.jpg);
    background-size: cover;
}

h2 {
    margin-top: 10%;
    font-size: 4rem;
}

h3 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
}