/*
    ========== Id Selectors ==========
*/

#mainNav {
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 40%;
    min-width: 300px;
}

#mainNav label {
    font-size: 2rem;
    text-decoration: overline underline;
}

#mainButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1.25rem;
    padding: 20px;
}

#trans-box {
    background: rgba(222, 222, 222, 0.45);
    height: 100%;
    width: 100%;
    z-index: 1;
    
}

#welcomeMessage {
    position: absolute;
    width: 80%;
    top: 10%;
    left: 10%;
    z-index: 6;
    font-size: 50pt;
}

a:link {
    color: paleturquoise;
}

a:visited {
    color: paleturquoise;
}


/*
    ========== Class Selectors ==========
*/
.pageNameDiv {
    margin-left: 25px;
}

.buttonStyle {
    background-color:rgb(110, 47, 78, 0.45);
    margin: 5px;
    padding: 5px;
    border-radius: 5px; 
}

.logoDiv img{
    position: relative;
    top: -10px;
    left: 5px;
    height: 175px;
    width: 175px;
}

/*
    ========== Element Selectors ==========
*/

header, footer {
    background-color:rgb(110, 47, 78, 0.15);
}

header {
    border-bottom: 10px solid rgb(110, 47, 78, 0.25);
    height: 15%;
    min-height: 150px;
    text-align: center;
}

footer {
    border-top: 10px solid rgb(110, 47, 78, 0.25);
    height: 10%;
    max-height: 100px;
    padding-top: 50px;
}



main {
    height: 100%;
    background-image: url(../images/pastelImage.jpg);
    background-size: cover;
    z-index: 0;
}

section {
    text-align: center;
    z-index: 2;
}

header div {
    text-align: left;
}

