/*
    ========== Id Selectors ==========
*/
#table {
    border-collapse: collapse;
}


/*
    ========== Pseudo-Class Selectors ==========
*/
input:valid {
    
}


/*
    ========== Class Selectors ==========
*/
.sectionWrapper {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: auto;
}

.centerSectionContent {
    text-align: center;
}

.leftSectionNav {
    background-image: url(/A1_2511/images/px717569-image-kwvv6g7d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.rightSection {
    background-image: url(/A1_2511/images/px717569-image-kwvv6g7d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    background-color: antiquewhite;
    opacity: 75%;
    position: fixed;
}

.centerSectionContent p{
    text-align:left;
}

.header {
    text-align: center;
    display: grid;
    grid-template-columns: 20% 80%;
}

.nav {
    position: fixed;
    text-align: center;
}

/*
    ========== Element Selectors ==========
*/

body {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
}

main {
    height: 100%;
    width: 100%;
}

header, footer {
    background-color: lavender;
    border-radius: 0;
    margin: 0;
}

/* 
'position' & 'top' Forces the Header to 
remain attached to the top of the page 
regardless of window sizing.
 */
 header {
    position: relative;
    top: 0;
}

/* 
'position' & 'bottom' Forces the Footer to 
remain attached to the bottom of the page 
regardless of window sizing.
 */
footer {
    position: relative;
    bottom: 0;
    text-align: right;
}

textarea {
    resize: none;
}