/* Main Styles Sheet */


/* Test Runner for CSS File To Show Borders*/
header, img, h1, nav, ul, label, li, h2, footer{
    border: 2px solid grey;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

body {
    margin: 0;
}

header, footer {
    background-color: lavender;
    border-radius: 0;
    margin: 0;

}

.sectionWrapper {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
}

.centerSectionContent {
    text-align: center;
}

.centerSectionContent p{
    text-align:left;
}

#table {
    border-collapse: collapse;
}

.header {
    text-align: center;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 50% 50%;
}

.nav {
    position: fixed;
    text-align: center;
}