.centerSectionContent table{
    width: 100%;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
}

table caption {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

th {
    background-color: rgb(209, 215, 226, 1.5);
}

tr:nth-child(even) {
    background-color: rgb(215, 226, 209,1.5);
  }

tr:nth-child(odd) {
    background-color: rgb(226, 209, 215,1.5);
}

table a:link {
    color: blue;
}

table a:visited {
    color: blue;
}

table a:hover {
    color: violet;
}